.div-form {
     display: flex;
     flex-direction: column;
     margin: 30px 60px 60px 20px;
}

.div-form2 {
     padding: 20px;
}

.form-botoes {
     display: flex;
     flex-direction: row;
     align-content: space-between;
}